@media (max-width: 1500px) {
  #one-data {
    left: 34%;
    top: 10%;
  }

  .overview {
    width: 50rem;
    height: 6rem;
  }
}

@media (max-width: 1400px) {
  #one-data {
    left: 38%;
    top: 10%;
  }

  #after-first {
    font-size: 1.8rem;
  }
}

@media (max-width: 1300px) {
  #one-data {
    left: 40%;
    top: 10%;
  }

  .overview {
    width: 47rem;
    height: 10rem;
  }

  .overview-P {
    font-size: 1.4rem !important;
  }

  .overview-P span {
    font-size: 1.5rem;
  }
}

@media (max-width: 1200px) {
  #one-data {
    left: 44%;
  }

  .overview {
    width: 45rem;
    height: 10rem;
  }

  .one-movie-data img {
    height: 270px;
  }

  .one-movie-data {
    column-gap: 2.5rem;
  }

  .more-data h1 {
    font-size: 2rem;
    width: 15rem;
  }

  .overview-P {
    font-size: 1.3rem !important;
  }

  .overview-P span {
    font-size: 1.4rem;
  }

  #after-first {
    font-size: 1.8rem;
  }
}

@media (max-width: 1100px) {
  #one-data {
    left: 48%;
    top: 10% !important;
  }

  .overview {
    width: 35rem;
    height: 12rem;
  }

  .one-movie-data img {
    height: 250px;
  }

  .one-movie-data {
    column-gap: 2rem;
  }

  .more-data h1 {
    font-size: 1.5rem;
    width: 15rem;
  }

  .more-p {
    width: 17rem;
  }

  .overview-P {
    font-size: 1.3rem !important;
  }

  .overview-P span {
    font-size: 1.4rem;
  }

  #after-first {
    font-size: 1.8rem;
  }
}

@media (max-width: 1024px) {
  #one-data {
    top: 4%;
  }

  .overview-P {
    font-size: 1.5rem !important;
  }

  .overview-P span {
    font-size: 1.5rem;
  }

  #after-first {
    font-size: 1.6rem;
  }
}

@media (max-width: 1000px) {
  #all-movie {
    width: 27rem;
  }

  #one-data {
    top: 10%;
    left: 42%;
  }

  .more-p p {
    font-size: 0.5rem;
  }

  .more-p span {
    font-size: 1rem;
  }

  .one-movie-data {
    column-gap: 1rem;
  }

  .overview {
    width: 33rem;
    font-size: 0.5rem;
    height: 12rem;
  }

  .overview-P {
    font-size: 1rem !important;
  }

  .overview-P span {
    font-size: 1.2rem;
  }

  #all-movie {
    width: 24rem;
  }

  .movie {
    gap: 0rem;
  }

  #after-first {
    font-size: 1.5rem;
  }

  .movie img {
    height: 8rem;
  }

  .movie {
    height: 9rem;
  }

  .again-data p {
    font-size: 1rem !important;
  }

  .one-movie-data img {
    height: 15rem;
  }

  .overview-P {
    padding: 0 20px;
  }

  .title {
    font-size: 1rem;
  }

  .other {
    font-size: 1rem;
  }

  .again-data {
    gap: 0.2rem;
  }

  .more-p {
    font-size: 1rem !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .more-data h1 {
    font-size: 1.2rem;
  }
}
