@media (max-width: 1500px) {
  #one-data {
    left: 34%;
    top: 10%;
  }

  .overview {
    width: 50rem;
    /* height: 30rem; */
  }
}

@media (max-width: 1400px) {
  #one-data {
    left: 38%;
    top: 10%;
  }
}

@media (max-width: 1250px) {
  #one-data {
    left: 40%;
    top: 10%;
  }

  .overview {
    width: 47rem;
    /* height: 30rem; */
  }
}

@media (max-width: 1200px) {
  #one-data {
    left: 44%;
  }

  .overview {
    width: 45rem;
    /* height: 30rem; */
  }

  .one-movie-data img {
    height: 270px;
  }

  .one-movie-data {
    column-gap: 2.5rem;
  }

  .more-data h1 {
    font-size: 2rem;
    width: 15rem;
  }
}

@media (max-width: 1100px) {
  #one-data {
    left: 48%;
  }

  .overview {
    width: 35rem;
    /* height: 30rem; */
  }

  .one-movie-data img {
    height: 250px;
  }

  .one-movie-data {
    column-gap: 2rem;
  }

  .more-data h1 {
    font-size: 1.5rem;
    width: 15rem;
  }

  .more-p {
    width: 17rem;
  }
}
